<launch>
<!-- Launch file for Livox MID360 LiDAR -->

	<include file="$(find livox_ros_driver2)/launch_ROS1/rviz_MID360.launch" />

	<arg name="rviz" default="false" />

	<rosparam command="load" file="$(find fast_lio)/config/mid360.yaml" />

	<param name="feature_extract_enable" type="bool" value="0"/>
	<param name="point_filter_num" type="int" value="5"/> <!-- Standard 3 -->
	<param name="max_iteration" type="int" value="3" />
	<param name="filter_size_surf" type="double" value="0.5" />
	<param name="filter_size_map" type="double" value="0.5" />
	<param name="cube_side_length" type="double" value="250" />
	<param name="runtime_pos_log_enable" type="bool" value="0" />
    <node pkg="fast_lio" type="fastlio_mapping" name="laserMapping" output="screen" />

	<node pkg="error404_description" type="fastlio_tf_bridge.py" name="fastlio_tf_bridge" output="screen">
		
		<param name="world_frame" value="camera_init" />
		<param name="base_frame" value="base_footprint" />
		<param name="odom_sensor_frame" value="body" />
		<param name="urdf_sensor_frame" value="livox_frame" />
		
	</node>

	<group if="$(arg rviz)">
	<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_lio)/rviz_cfg/loam_livox.rviz" />
	</group>

</launch>
